<h1>Add Pony</h1>
<form id="add" action="" method="get">
    <div class="col-4 mb-2">
        <label for="inp_name" class="form-label">Name</label>
        <input class="form-control" type="text" name="name" id="inp_name">
    </div>
    {{!-- <div class="col-2 mb-2">
        <label for="inp_color" class="form-label">Color</label>
        <input class="form-control" type="color" value = "#50ff70" name="color" id="inp_color">
    </div> --}}
    <button type="submit" class="btn btn-outline btn-success">Add</button>
</form>
<script src="/addPony.js"></script>